In [1]:
import sqlite3 as sq
import datetime

In [2]:
conn = sq.connect("cms.db")

In [3]:
cur = conn.cursor()

In [4]:
cur.execute("""create table if not exists contact
               ( cid int primary key,
                 fname text,
                 lname text,
                 contact number,
                 email text,
                 city text
                 check ( email like '%_@_%._%')
                );""")

In [5]:
cur.execute("""create table if not exists details_log
                (
                    
                    fname text,
                    lname text,
                    newcontact number,
                    oldcontact number,
                    datetime text,
                    operation text
                    
                )""")

In [6]:
cur.execute("""create trigger if not exists insertdata
               after insert on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,'NULL',datetime('now'),'insert');
               end;
                   """)

In [7]:
cur.execute("""create trigger if not exists deletedata
               after delete on contact
               begin
                   insert into details_log
                   values(old.fname,old.lname,'NULL',old.contact,datetime('now'),'delete');
               end;
                   """)

In [8]:
cur.execute("""create trigger if not exists updatedata
               after update on contact
               begin
                   insert into details_log
                   values(new.fname,new.lname,new.contact,old.contact,datetime('now'),'update');
               end;
                   """)

In [9]:
def updaterecord(cd):
    newcon=int(input("Enter new Contact Number:"))
    cur.execute(f"Update contact set contact={newcon} where cid={cd};")

In [10]:
def deleterecord(cd):
    cur.execute(f"delete from contact where cid={cd}")

In [11]:
def searchrecord(cd):
    cur.execute(f"select * from contact where cid={cd}")
    row=cur.fetchall()
    print(row)

In [12]:
cur.execute("""insert into contact values
                (1,'om','kareshwar',9874590750,'om@gmail.com','pune'),
                (2,'sai','patel',2431656123,'sai@gmail.com','surat'),
                (3,'hanuman','rathod',1234542023,'hanuman@gmail.com','baroda'),
                (4,'ram','patil',6789060101,'ram@gmail.com','vyara'),
                (5,'radha','shah',1212335745,'radha@gmail.com','mumbai');""")

In [13]:
updaterecord(2)

Enter new Contact Number: 1234567890

In [14]:
deleterecord(3)

In [15]:
cur.execute("select * from contact")
row=cur.fetchall()
for i in row:
    print(f"\nID:{i[0]}\nFname:{i[1]}\nLname:{i[2]}\nContact:{i[3]}\nEmail:{i[4]}\ncity:{i[5]}")

ID:1
Fname:om
Lname:kareshwar
Contact:9874590750
Email:om@gmail.com
city:pune

ID:2
Fname:sai
Lname:patel
Contact:1234567890
Email:sai@gmail.com
city:surat

ID:4
Fname:ram
Lname:patil
Contact:6789060101
Email:ram@gmail.com
city:vyara

ID:5
Fname:radha
Lname:shah
Contact:1212335745
Email:radha@gmail.com
city:mumbai

In [16]:
cur.execute("select * from details_log")
row1=cur.fetchall()
print(row1)
for i in row1:
    print(f"\nFname:{i[0]}\nLname:{i[1]}\nNew-contact:{i[2]}\nOld-Contact:{i[3]}\nDatetime:{i[4]}\nOperation:{i[5]}")

[('om', 'kareshwar', 9874590750, 'NULL', '2023-08-08 11:27:08', 'insert'), ('sai', 'patel', 2431656123, 'NULL', '2023-08-08 11:27:08', 'insert'), ('hanuman', 'rathod', 1234542023, 'NULL', '2023-08-08 11:27:08', 'insert'), ('ram', 'patil', 6789060101, 'NULL', '2023-08-08 11:27:08', 'insert'), ('radha', 'shah', 1212335745, 'NULL', '2023-08-08 11:27:08', 'insert'), ('sai', 'patel', 1234567890, 2431656123, '2023-08-08 11:27:46', 'update'), ('hanuman', 'rathod', 'NULL', 1234542023, '2023-08-08 11:28:11', 'delete')]

Fname:om
Lname:kareshwar
New-contact:9874590750
Old-Contact:NULL
Datetime:2023-08-08 11:27:08
Operation:insert

Fname:sai
Lname:patel
New-contact:2431656123
Old-Contact:NULL
Datetime:2023-08-08 11:27:08
Operation:insert

Fname:hanuman
Lname:rathod
New-contact:1234542023
Old-Contact:NULL
Datetime:2023-08-08 11:27:08
Operation:insert

Fname:ram
Lname:patil
New-contact:6789060101
Old-Contact:NULL
Datetime:2023-08-08 11:27:08
Operation:insert

Fname:radha
Lname:shah
New-contact:1212335745
Old-Contact:NULL
Datetime:2023-08-08 11:27:08
Operation:insert

Fname:sai
Lname:patel
New-contact:1234567890
Old-Contact:2431656123
Datetime:2023-08-08 11:27:46
Operation:update

Fname:hanuman
Lname:rathod
New-contact:NULL
Old-Contact:1234542023
Datetime:2023-08-08 11:28:11
Operation:delete